<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="webjars/bootstrap/5.3.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="webjars/sweetalert2/11.10.7/dist/sweetalert2.all.min.js"></script>
    <script src="webjars/sweetalert2/11.10.7/dist/sweetalert2.min.css"></script>

    <title th:text="#{titlep}"></title>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="mx-3 my-5">
        <div class="row">
            <div class="col-6">
                <div class="alert alert-success" role="alert">
                    <h1 th:text="${title}"></h1>
                </div>
            </div>
            <div class="col-6">
                <div class="alert alert-info" role="alert">
                    <h2 th:text="#{Nombre_total_des_produits:}">Total number of products:
                        <span th:text="${count}"></span></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th th:text="#{Name}">Name</th>
                    <th th:text="#{Reference}">Reference</th>
                    <th th:text="#{Price}">Price</th>
                    <th th:text="#{Modification}">Modification</th>
                    <th th:text="#{Delete}">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="produit : ${prdcts}">
                    <td th:text="${produit.name}"></td>
                    <td th:text="${produit.ref}"></td>
                    <td th:text="${produit.price}"></td>
                    <td>
                        <a class="btn btn-warning"
                           th:href="@{/showEditForm/{id}(id=${produit.id})}">
                            <i class="bi bi-pencil"></i>
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-danger delete-button"
                           th:href="@{delete(id=${produit.id})}">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <nav aria-label="pagination">
                <ul class="pagination pagination-md">
                    <li th:each="p : ${listPages}"
                        th:class="${currentPage == p ? 'page-item active' : 'page-item'}">
                        <a class="page-link" th:text="${p + 1}"
                           th:href="@{index(page=${p})}"></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div th:if="${deleted}">
        <p id="deleted" th:text="${deleted}"></p>
    </div>
    <div th:if="${error}">
        <p id="error" th:text="${error}"></p>
    </div>

    <script th:inline="javascript">
        document.querySelectorAll(".delete-button").forEach(function(button) {
            button.addEventListener("click", function (event) {
                event.preventDefault();  // prevent the default action (following the link)
                var href = this.getAttribute('href');  // get the href attribute of the clicked link

                Swal.fire({
                    title: /*[[#{Are_you_sure?}]]*/ "Are you sure?",
                    text: /*[[#{You_won_t_be_able_to_revert_this!}]]*/ "You won't be able to revert this!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: /*[[#{Yes_delete_it!}]]*/ "Yes, delete it!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire({
                            title: /*[[#{Deleted!}]]*/ "Deleted!",
                            text: /*[[#{Your_file_has_been_deleted.}]]*/ "Your file has been deleted.",
                            icon: "success"
                        }).then(() => {
                            window.location.href = href;  // redirect to the delete URL
                        });
                    }
                });
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            var deletedMessage = /*[[${deleted}]]*/ false;
            var errorMessage = /*[[${error}]]*/ false;

            if (deletedMessage) {
                Swal.fire({
                    title: /*[[#{Success!}]]*/ "Success!",
                    text: deletedMessage,
                    icon: "success",
                });
            }

            if (errorMessage) {
                Swal.fire({
                    title: /*[[#{Error!}]]*/ "Error!",
                    text: errorMessage,
                    icon: "error",
                });
            }
        });
    </script>
</div>
</body>
</html>
